
@font-face {
    font-family: "Dosis Bold";
    src:url("../fonts/Dosis-Bold.ttf");
}

@font-face {
    font-family: "Dosis Extra Bold";
    src:url("../fonts/Dosis-ExtraBold.ttf");
}

@font-face {
    font-family: "Dosis Extra Light";
    src:url("../fonts/Dosis-ExtraLight.ttf");
}

@font-face {
    font-family: "Dosis Medium";
    src:url("../fonts/Dosis-Medium.ttf");
}

@font-face {
    font-family: "Dosis";
    src:url("../fonts/Dosis-Regular.ttf");
}

@font-face {
    font-family: "Dosis Semi Bold";
    src:url("../fonts/Dosis-SemiBold.ttf");
}


body{
	font-family: 'Dosis', sans-serif !important;
	color: #4a4a4a;
}

h1{
	font-family: 'Dosis Bold', sans-serif !important;
	color: #4a4a4a;
}

h2{
	font-family: 'Dosis Bold', sans-serif !important;
	color: #004D9C;
	font-size: 1.3em !important;
}

h3{
	font-family: 'Dosis Semi Bold', sans-serif !important;
}

label{
	font-size: 1em;
	color: #9b9b9b;
}

strong{
	font-size: 1em;
	font-family: 'Dosis Semi Bold', sans-serif !important;
}

a{
	color: #004D9C;
	cursor: pointer !important;
}

#divLogin a{
	text-decoration: underline;
}

textarea {
    resize: none !important;
}

@media (max-width: 990px){
    .text-center-sm{
        text-align: center;
    }
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

ul.pagination li.active a {
	color: #FFFFFF !important;
	background-color: #004D9C;
	border-color: #004D9C;
}

input[type=text], input[type=password],  input[type=email], input[type=tel], input[type=number], input[type=date], select, option, textarea {
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-bottom: solid 1px #000 !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	font-size: 1.2em !important;
	/*font-weight: bold !important;*/
	background: #f4f4f4 !important;
	background-color: #f4f4f4 !important;
	border-radius: 3px !important;
	border: none !important;
	text-align: center !important;
	color: #3e3e3e !important;
	
}

input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus {
	outline: none !important;
	box-shadow: none !important;
	opacity: 0.8 !important;
}

select{
	text-align-last: center !important;
	color: #3e3e3e !important;
}

.checkbox input[type=checkbox]{
}

.btnProdutoFull, #btnCarregarMais, .btnProdutoMini{
	background-color: #004D9C !important;
	font-family: 'Dosis Bold', sans-serif !important;
}

.btnExcluiFull, .btnExcluiMini{
	background-color: #cf734e !important;
	font-family: 'Dosis Bold', sans-serif !important;
	border: none !important;
}

.btnProdutoFull:hover, #btnCarregarMais:hover, .btnProdutoMini:hover{
	background-color: #084882 !important;
}

.btnExcluiFull:hover, .btnExcluiMini:hover{
	background-color: #dc8968 !important;
}

#btnCarregarMais{
	font-family: 'Dosis Bold', sans-serif !important;
	padding-left: 40px !important;
	padding-right: 40px !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.btnSecundario{
	background: #f4f4f4 !important;
	background-color: #f4f4f4 !important;
	color: #9b9b9b !important;
	font-family: 'Dosis Bold', sans-serif !important;
	border: none !important;
	padding-right: 10px !important;
}

.btnSecundario:hover{
	background: #f8f8f8 !important;
	background-color: #f8f8f8 !important;
}

/* CSS de componentes específicos como divs de login, cabeçalho, rodapé, etc*/

/*-------------------------------------------------*/
/*--------  INÍCIO CSS DO TOPO DA TELA  -----------*/
	/* css do topo do site */
	#divTopo{
		background-color: #004D9C !important;
		vertical-align: middle;
		min-height: 50px;
		line-height: 50px;
		color: #fff !important;
	}

	#divTopo #btnMenuLogin{
		color: #fff !important;
	}

	#divTopo #btnMenuLogin:hover{
		text-decoration: none !important;
		background-color: #084882 !important;
	}
	
	#divTopo strong a{
		color: #fff !important;
	}

	/* css do menu do logotipo barra de pesquisa, carrinho e notificação*/

	#formPesquisa{
		font-size: 12px !important;
	}

	#divMenuLogotipo{
		padding-top: 40px;
		line-height: 50px;
		vertical-align: middle;
	}

	#divMenuLogotipo #divImgLogotipo{
		margin-top: -20px !important;
	}

	#divMenuLogotipo .form-group{
		min-width: 100% !important;
	}

	#inputPesquisa{
		background-color: #f4f4f4 !important;
		border: 0px !important;
		min-width: 100% !important;
		margin-top: 5px !important;
		height: 40px;
	}

	#btnPesquisa{
		background-color: #f4f4f4 !important;
		border: 0px !important;
		height: 40px;
		margin-top: 5px !important;
	}

	#divMenuLogotipo #btnCarrinho, #divMenuLogotipo #btnNotificacoes{
		background-color: #f4f4f4 !important;
		border: 0px !important;
		height: 40px;
		margin: 2px !important;
		border-radius: 5px !important;
	}

	/* Div do menu principal de tela inicial, meus pedidos, etc */
	#divMenuPrincipal{
		margin-top: 20px !important;
		box-shadow: 0px 2px 1px #c5c5c5 !important;
	}

	#divMenuPrincipal a{
		padding-top: 20px !important;
		border: 0px !important;
		color: #9b9b9b !important;
		font-family: 'Dosis Semi Bold', sans-serif !important;
		font-size: 1.4em !important;
		text-align: center !important;
	}

	#divMenuPrincipal a:hover{
		background: none !important;
		background-color: none !important;
		color: #004D9C !important; 
	}

	#divMenuPrincipal a.current{
		color: #004D9C !important; 
		border-bottom: solid 3px #004D9C !important;
	}
/*--------  FIM CSS DO TOPO DA TELA  --------------*/
/*-------------------------------------------------*/


/*-------------------------------------------------*/
/*--------  INÍCIO CSS DO SLIDER       -----------*/
.swiper-container {
        width: 100%;
        height: 100%;
		margin-top: 20px !important;
    }	
	
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-pagination-bullet {
        width: 20px !important;
        height: 20px !important;
        text-align: center !important;
        line-height: 20px !important;
        font-size: 12px !important;
        color:#004D9C !important;
        opacity: 1 !important;
        background: #fff !important;
		font-family: 'Dosis Bold', sans-serif !important;
}

.swiper-pagination-bullet:hover {
        opacity: 0.8 !important;
}
	
.swiper-pagination-bullet-active {
	color:#fff !important;
	background: #004D9C !important;
	font-family: 'Dosis Bold', sans-serif !important;
}
	
.swiper-slide img{
	width: 100% !important;
	height: 100% !important;
}

.swiper-button-next{
	background-image: url('../img/seta-direita.png') !important;
	background-size: 100% 100% !important;
	width: 30px !important;
	height: 30px !important;
}

.swiper-button-prev{
	background-image: url('../img/seta-esquerda.png') !important;
	background-size: 100% 100% !important;
	width: 30px !important;
	height: 30px !important;
}

/*--------  FIM CSS DO TOPO DO SLIDER  --------------*/
/*-------------------------------------------------*/


/*--------------------------------------------------*/
/*--------     INÍCIO CSS DA SIDEBAR     -----------*/
#divSidebar{
	background-image: url(../img/lateralBg.jpg) !important;
    background-position: right top !important;
    background-repeat: repeat-y !important;
	margin-top: 2px !important;
	height: 100% !important;
}

#divSidebar .navbar-nav li{
	min-width: 100% !important;
}

#divSidebar .navbar-nav img{
	float: right !important;
}

#divSidebar h3{
	font-family: 'Dosis Semi Bold', sans-serif !important;
	color: #4a4a4a !important;
	font-size: 1.3em !important;
}

#divSidebar a{
	font-family: 'Dosis Semi Bold', sans-serif !important;
	color: #4a4a4a !important;
	font-size: .9em !important;
	padding-left: 5px;
	padding-right: 5px;
}

#divSidebar .subMenu a{
	padding-left: 15px !important;
	padding-top: 5px !important;
	padding-right: 5px !important;
	padding-bottom: 5px !important;
}

#divSidebar a:hover{
	background-color: rgba(244, 244, 244, 0.8) !important;
}
/*--------       FIM CSS DA SIDEBAR     -----------*/
/*-------------------------------------------------*/



/*--------------------------------------------------*/
/*--------    INÍCIO CSS DO CONTEÚDO     -----------*/

#divConteudo h2{
	font-family: 'Dosis Bold', sans-serif !important;
	color: #004D9C !important;
}

#divConteudo #btnEncolheLateral{
	width: 30px !important;
	height: 30px !important;
	padding: 2px !important;
	margin-bottom: 10px !important;
	background: #f4f4f4 !important;
	border: 0px !important;
}

#divConteudo #btnEncolheLateral:hover{
	opacity: 0.8 !important;
}

.btnFiltro{
	height: 35px !important;
	background: #f4f4f4 !important;
	border: 0px !important;
	margin-right: 5px !important;
	margin-top: 10px !important;
	border-radius: 2px !important;
	color: #9b9b9b !important;
	font-family: 'Dosis Semi Bold', sans-serif !important;
}

.btnFiltro strong, .btnFiltro strong{
	color: #4a4a4a !important;
	font-family: 'Dosis Semi Bold', sans-serif !important;
}

.btnFiltro:hover, .btnFiltro:hover{
	opacity: 0.8 !important;
}

.btnFiltro ul.dropdown-menu a, .btnFiltro ul.dropdown-menu a{
	color: #9b9b9b !important;
	font-family: 'Dosis Semi Bold', sans-serif !important;
}

.btnFiltro ul.dropdown-menu a strong, .btnFiltro ul.dropdown-menu a strong{
	color: #4a4a4a !important;
}

#divProdutoGrid{
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    padding: 15px ;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-top: 4px solid #004D9C;
    margin: 20px 7px 0px 0px !important;
}

#divProdutoGrid a h3, #divProdutoLista a h3{
    font-family: 'Dosis Bold', sans-serif !important;
	color: #4a4a4a !important;
}

#divProdutoGrid a:hover, #divProdutoLista a:hover{
    text-decoration: none !important;
}

#divProdutoGrid small, #divProdutoLista small{
    color: #9b9b9b !important;
	font-family: 'Dosis Semi Bold', sans-serif !important;
	font-size: 1em !important;
}

#divProdutoLista{
	border: 1px solid #f1f1f1;
    box-sizing: border-box;
    padding: 15px ;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-left: 4px solid #004D9C;
    margin: 20px 7px 0px 0px !important;
}

.labelCaixa {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 55px;
    min-height: 75px;
    padding: 10px 8px;
    box-sizing: border-box;
    background-color: #004D9C;
    color: #fff !important;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    z-index: 1;
	font-family: 'Dosis Semi Bold', sans-serif !important;
	margin: 5px !important;
	border-radius: 5px !important;
}

.iconeCaixa {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    background-repeat: no-repeat;
    background-position: center;
}

.inputQuantidade {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    background-repeat: no-repeat;
    background-position: center;
}

.divGroupQuantidade{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.divGroupQuantidadeMini{
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}

input.inputQuantidadeCompra{
	width: 50px !important;
	height: 40px!important;
	/*float: none !important;*/
	background: #f4f4f4 !important;
	background-color: #f4f4f4 !important;
	border-radius: 3px !important;
	border: none !important;
	text-align: center !important;
	font-family: 'Dosis Bold', sans-serif !important;
	color: #3e3e3e !important;
	margin: 0px 4px 0px 4px !important;
}

input.inputQuantidadeCompraMini{
	width: 30px !important;
	height: 25px!important;
	/*float: none !important;*/
	background: #f4f4f4 !important;
	background-color: #f4f4f4 !important;
	border-radius: 3px !important;
	border: none !important;
	text-align: center !important;
	font-family: 'Dosis Bold', sans-serif !important;
	color: #3e3e3e !important;
	margin: 0px 2px 0px 2px !important;
	font-size: 14px !important;
	padding: 2px 2px 2px 2px !important;
}

.btnMais, .btnMenos{
	width: 40px !important;
	height: 40px!important;
	float: left !important;
	background-color: #004D9C !important;
	border-radius: 3px !important;
	border: none !important;
	text-align: center !important;
	font-weight: 900 !important;
	color: #fff !important;
}

.btnMaisMini, .btnMenosMini{
	width: 25px !important;
	height: 25px!important;
	float: left !important;
	background-color: #004D9C !important;
	border-radius: 3px !important;
	border: none !important;
	text-align: center !important;
	font-weight: 900 !important;
	color: #fff !important;
}

.btnMais:hover, #divProdutoGrid .btnMenos:hover, .btnMaisMini:hover, .btnMenosMini:hover{
	opacity: 0.8 !important;
}


.btnComprar{
    font-family: 'Dosis Semi Bold', sans-serif !important;
	font-size: 1.1em !important;
}

.btnComprar img{
    vertical-align: middle !important;
}

.btnAdicionarALista{
	font-size: 1.1em !important;
}

#divProdutoMini{
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    padding: 10px ;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-top: 4px solid #004D9C;
    margin: 10px 7px 10px 7px !important;
}

#divProdutoMini a h4{
    font-family: 'Dosis Bold', sans-serif !important;
	color: #4a4a4a !important;
	font-size: 1em !important;
}

#divProdutoMini a:hover{
    text-decoration: none !important;
}

#divProdutoMini small{
    color: #9b9b9b !important;
	font-family: 'Dosis Semi Bold', sans-serif !important;
	font-size: 0.9em !important;
}

.btnProdutoMini{
	margin-top: 10px !important;
	font-size: 0.8em !important;
}

.aFormasPagamento{
	font-family: 'Dosis Semi Bold', sans-serif !important;
	vertical-align: middle !important;
	text-decoration: none !important;
}

#divPromocao{
	color: #004D9C !important;
}
#divPromocao .media-body, #divPromocao .media-left, #divPromocao .media-right{
	display: inline-block !important;
}

#divPromocao strong{
	color: #4a4a4a !important;
}


/*--------      FIM CSS DO CONTEÚDO     -----------*/
/*-------------------------------------------------*/


/*--------------------------------------------------*/
/*--------    INÍCIO CSS DO PRODUTO INDIVIDUAL     -----------*/

#divBreadcrumbs {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	color: #9b9b9b !important;
	font-size: 1.1em !important;
}

#divBreadcrumbs a {
	color: #9b9b9b !important;
	font-family: 'Dosis Semi Bold', sans-serif !important;
}

#divBreadcrumbs strong{
	font-family: 'Dosis Bold', sans-serif !important;
	color: #4a4a4a !important;
}

#divBreadcrumbs .btnFiltro{
	margin-top: 0px !important;
}

/*--------      FIM CSS DO PRODUTO INDIVIDUAL     -----------*/
/*-------------------------------------------------*/

/*--------------------------------------------------*/
/*--------  INÍCIO CSS DO RODAPÉ DA TELA  -----------*/
	#divLogin, #divCarrinho, .divPedidoIndividual{
		margin-top: 20px !important;
		margin-bottom: 50px !important;
		box-shadow: 0px 1px 2px #888888;
		padding: 50px;
	}
	
	#divCarrinho, .divPedidoIndividual{
		padding: 20px 20px 20px 20px !important;
	}

	#divLogin button[type=submit]{
		background-color: #004D9C !important;
		font-weight: bold !important;
	}

	#divLogin button[type=submit]:hover{
		background-color: #175994 !important;
	}

	#divFooter{
		background-color: #f5f5f5 !important;
		padding-bottom: 30px !important;
	}

	#divFooter h1{
		font-family: 'Dosis Semi Bold', sans-serif !important;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
		font-size: 1.8em !important;	
	}

	#divFooter h3{
		background-color: #f5f5f5 !important;
		color: #004D9C !important;
		font-family: 'Dosis Bold', sans-serif !important;
	}

	#divFooter span{
		font-size: 1.2em !important;
	}
	
	#divFooter a{
		text-decoration: none !important;
	}

	#divSocket{
		background-color: #b9b9b9 !important;
		padding: 15px 0px 15px 0px !important;
		font-family: 'Dosis Bold', sans-serif !important;
		color: #fff !important;
		font-size: 1.2em !important;
	}
/*--------  FIM CSS DO RODAPÉ DA TELA  -------------*/
/*-------------------------------------------------*/


/*-------------------------------------------------*/
/*--------      OUTROS COMPONENTES    -------------*/

.modal-header, .modal-footer{
	border-bottom: none !important;
	border-top: none !important;
}

.modal-header{
	padding-bottom: 0px !important;
}

.modal-footer{
	padding-top: 0px !important;
}

.modal-content{
	padding-top: 10px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-bottom: 10px !important;
}	

.modal-content h1{
	font-size: 1.5em !important;
}

.modal-body{
	font-family: 'Dosis Semi Bold', sans-serif !important;
}

.modal-footer .btn{
	
}

#carrinhoBreadcrumbs ul li, #pedidoBreadcrumbs ul li, #carrinhoBreadcrumbs ul li img, #pedidoBreadcrumbs ul li img{
	margin-right: -10px !important;
	display: inline-block;
	vertical-align: middle !important;
}

#dropdownCarrinho ul.dropdown-menu li, #dropdownNotificacoes ul.dropdown-menu li{
	line-height: 20px !important;
	padding: 5px 10px 5px 10px !important;
	border-bottom: solid 1px #efefef !important;
}